<div class="flex items-center container min-h-screen">
  <div class="lg:w-4/12 w-8/12 bg-white rounded-xl mx-auto p-8 border shadow-lg">
    <h1 class="font-bold text-2xl">Forgot Password</h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onPasswordReset()">
      <div class="flex flex-col mt-4 mb-4">
        <label for="email" class="font-semibold text-md">Email</label>
        <input type="email" class="p-3 rounded-lg border mt-2 focus:outline-todo-primary"
               placeholder="Masukkan E-Mail" id="email" formControlName="email">

        <div *ngIf="getLoginControl('email')?.invalid && getLoginControl('email')?.touched">
          <small *ngIf="getLoginControl('email')?.errors?.['required']"
                 class="font-semibold text-red-500 ml-2">* Email Tidak Boleh Kosong!</small>
          <small *ngIf="getLoginControl('email')?.errors?.['email']"
                 class="font-semibold text-red-500 ml-2">* Email Tidak Valid!</small>
        </div>
      </div>
      <button type="submit"
              class="p-3 bg-todo-primary w-full rounded-lg text-white font-semibold hover:bg-todo-secondary">
        Reset Password
      </button>
    </form>
    <h1 class="mt-4 text-sm text-gray-500">Sudah memiliki akun?
      <span (click)="goToLogin()"
            class="font-bold text-todo-secondary hover:cursor-pointer">
        Login
      </span>
    </h1>
  </div>
</div>
